/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    background: rgb(92, 64, 132);
}

body, html {
    height: 100%;
}

app-root{
    height: 100%;
}

mat-form-field .mat-form-field-wrapper {
    width: 100% !important;
}

.readonly .mat-form-field-wrapper .mat-form-field-flex{
    background: rgba(0, 0, 0, 0.1) !important;
    border-radius: 5px;
}
